<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="onepage, resume">

	<title>Yoana Dimova</title>
  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
</head>

<body>
	<!-- Home Section -->
	<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
		<div class="intro">
			<div class="avatar-image"></div>
			<h1>Hi, <span>I'm Yoana</span></h1>
			<p>This is a WIP.</p>

      <div class="social-icons">
        <ul class="list-inline">
          <li><a href="https://www.linkedin.com/in/yoana-dimova-04b13482/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div> <!-- /.social-icons -->
		</div>

		<div class="mouse-icon">
			<div class="wheel"></div>
		</div>
	</section><!-- End Home Section -->

	<!-- Navigation -->
	<header class="header">
		<nav class="navbar navbar-custom" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="custom-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#home">Home</a></li>
						<li><a href="#skills">Skills</a></li>
						<li><a href="#resume">Resume</a></li>
					</ul>
				</div>
			</div><!-- .container -->
		</nav>
	</header><!-- End Navigation -->
    <!-- Skills Section -->
    <section id="skills" class="skills-section section-padding">
      <div class="container">
        <h2 class="section-title wow fadeInUp">Skills</h2>

        <div class="row">
          <div class="col-md-6">
            <div class="skill-progress">
              <div class="skill-title"><h3>HTML5</h3></div>
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ><span>80%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->

            <div class="skill-progress">
              <div class="skill-title"><h3>CSS3</h3></div>
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ><span>80%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->
            <div class="skill-progress">
              <div class="skill-title"><h3>Javascript</h3></div>
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ><span>80%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->
          </div><!-- /.col-md-6 -->

          <div class="col-md-6">
            <div class="skill-progress">
              <div class="skill-title"><h3>SASS</h3></div>
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ><span>80%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->
            <div class="skill-progress">
              <div class="skill-title"><h3>Bootstrap 3/4</h3></div>
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" ><span>75%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->
            <div class="skill-progress">
              <div class="skill-title"><h3>UI/UX Design</h3></div>
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ><span>70%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->
          </div><!-- /.col-md-6 -->
					<div class="col-md-6">
						<div class="skill-progress">
							<div class="skill-title"><h3>Java</h3></div>
							<div class="progress">
								<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ><span>70%</span>
								</div>
							</div><!-- /.progress -->
						</div><!-- /.skill-progress -->
						<div class="skill-progress">
							<div class="skill-title"><h3>Frontend Dev</h3></div>
							<div class="progress">
								<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ><span>80%</span>
								</div>
							</div><!-- /.progress -->
						</div><!-- /.skill-progress -->
						<div class="skill-progress">
							<div class="skill-title"><h3>Android Dev</h3></div>
							<div class="progress">
								<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ><span>60%</span>
								</div>
							</div><!-- /.progress -->
						</div><!-- /.skill-progress -->
					</div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- End Skills Section -->
		<!-- Resume Section -->
    <section id="resume" class="resume-section section-padding">
        <div class="container">
            <h2 class="section-title wow fadeInUp">Resume</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="resume-title">
                        <h3>Education <i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>
                    </div>
                    <div class="resume">
                        <ul class="timeline">

                            <li class="timeline-inverted">
                                <div class="posted-date">
                                    <span class="month">2013-2017</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>BSc Media informatics</h3>
                                            <span>Ludwig-Maximilian University of Munich</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>Computer Science with human-computer-interaction minor</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div> <!-- /timeline-panel -->
                            </li>

                            <li>
                                <div class="posted-date">
                                  <span class="month">2008-2013</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>High school diploma</h3>
                                            <span>91. Deutsches Gymnasium in Sofia, Bulgaria</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p></p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /row -->
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-md-12">
                    <div class="resume-title">
                        <h3>Experience <i class="fa fa-briefcase" aria-hidden="true"></i></h3>
                    </div>
                    <div class="resume">
                        <ul class="timeline">
														<li class="timeline-inverted">
																<div class="posted-date">
																	<span class="month">2017-today</span>
																</div><!-- /posted-date -->

																<div class="timeline-panel wow fadeInUp">
																		<div class="timeline-content">
																				<div class="timeline-heading">
																						<h3>Junior Software Developer</h3>
																						<span>Experteer GmbH</span>
																				</div><!-- /timeline-heading -->

																				<div class="timeline-body">
																						<p></p>
																				</div><!-- /timeline-body -->
																		</div> <!-- /timeline-content -->
																</div><!-- /timeline-panel -->
														</li>
														<li>
																<div class="posted-date">
																	<span class="month">2015-2017</span>
																</div><!-- /posted-date -->

																<div class="timeline-panel wow fadeInUp">
																		<div class="timeline-content">
																				<div class="timeline-heading">
																						<h3>Working student in frontend-development</h3>
																						<span>Experteer GmbH</span>
																				</div><!-- /timeline-heading -->

																				<div class="timeline-body">
																						<p></p>
																				</div><!-- /timeline-body -->
																		</div> <!-- /timeline-content -->
																</div><!-- /timeline-panel -->
														</li>
														<li class="timeline-inverted">
																<div class="posted-date">
																	<span class="month">2014-2015</span>
																</div><!-- /posted-date -->

																<div class="timeline-panel wow fadeInUp">
																		<div class="timeline-content">
																				<div class="timeline-heading">
																						<h3>Web Design Assistant</h3>
																						<span>Mapp Digital (Teradata)</span>
																				</div><!-- /timeline-heading -->

																				<div class="timeline-body">
																						<p></p>
																				</div><!-- /timeline-body -->
																		</div> <!-- /timeline-content -->
																</div> <!-- /timeline-panel -->
														</li>
                        </ul>
                    </div>
                </div>
            </div><!-- /row -->
						<div class="row">
								<div class="col-md-12">
										<div class="resume-title">
												<h3>Other projects <i class="fa fa-heart" aria-hidden="true"></i></h3>
										</div>
										<div class="resume">
												<ul class="timeline">

														<li>
																<div class="posted-date">
																		<span class="month">2017-now</span>
																</div><!-- /posted-date -->

																<div class="timeline-panel wow fadeInUp">
																		<div class="timeline-content">
																				<div class="timeline-heading">
																						<h3>Hackathons Coordinator</h3>
																						<span>Female Tech Leaders</span>
																				</div><!-- /timeline-heading -->

																				<div class="timeline-body">
																						<p>I like to share my passion for coding with others and in my free time I organize hackathons in Munich on topics like "Machine Learning", "Social Infotainment" and many others :) </p>
																				</div><!-- /timeline-body -->
																		</div> <!-- /timeline-content -->
																</div> <!-- /timeline-panel -->
														</li>
												</ul>
										</div>
								</div>
						</div><!-- /row -->
        </div><!-- /.container -->
    </section><!-- End Resume Section -->


	<!-- Footer Section -->
    <footer class="footer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright text-center">
              <p>&copy; All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- End Footer Section -->


	<!-- Scroll-up -->
	<div class="scroll-up">
		<a href="#home"><i class="fa fa-angle-up"></i></a>
	</div>

	<!-- Javascript files -->
  <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
</body>
</html>
